extends ../../layouts/default.pug
include ../../mixins/notification.pug

block addCss 
    link(rel="stylesheet", href="/admin/css/createProduct.css")

block main
    - if (messages.success)
        +notf-success()
    - if (messages.fail)
        +notf-fail()

    h2 Create account

    form(action=`${prefixAdmin}/accounts/create-account`, enctype="multipart/form-data", method="POST")
        div.form-group
            label(for="fullname") Full name:
            input#fullname.form-control(type="text", name="fullName", placeholder="Enter the user full name", required)
        div.form-group
            label(for="email") Email:
            input#email.form-control(type="email", name="email", placeholder="Enter the user email", required)
        div.form-group
            label(for="password") Password:
            input#password.form-control(type="password", name="password", placeholder="Enter password", required)
        div.form-group
            label(for="phone") Phone number:
            input#phone.form-control(type="tel", name="phone", placeholder="Enter the user phone number", required)
        div.form-group
            label(for="role") Role:
            br
            select.select-parent-category(name="roleId", required)
                option(value="" disabled selected) --Select a role--
                each role in roles
                    option(value= role.id) #{role.title}

        div.form-group
            label(for="avatar") Avatar:
            input#avatar.form-control.imp-inp(type="file", accept="image/*", name="avatar")
            img(id="blah" src="#" alt="your image")
        div.form-group
            label Status:
            div
                input#status-active(type="radio", name="status", value="active")
                label(for="status-active") Active
            div
                input#status-inactive(type="radio", name="status", value="inactive", checked)
                label(for="status-inactive") Inactive
        div.form-group
            button.btn.btn-primary(type="submit") Submit