include ../mixins/categoryTree.pug

header.header 
    .container 
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo.svg", alt="Logo")

            .col-6
                form(action="/search" method="GET")
                    input(type="text" name="keyword" class="search-input" placeholder="Enter keyword" value=keyword)
                    button(type="submit" class="btn btn-primary btn-search") Search
                
            .col-3
                .inner-menu 
                    ul.menu
                        li 
                            a(href="/") Home
                        li.outer-product  
                            a(href="/products") Products
                            +tree(categoryTree)