extends ../../layouts/default.pug

block main 
    .container
        div(style="height: 50px")
        .row 
            .col-2 
            .col-10 
                img(src=(currentClient.avatar ? currentClient.avatar : "https://th.bing.com/th/id/OIP.NncIgJuAPc-2QzmcDe6tdAHaEy?rs=1&pid=ImgDetMain") alt=currentClient.fullName style="width: 300px; height: auto;")
        
        div(style="height: 20px")
        .row 
            .col-2
            .col-2 Full name:
            .col-8 
                b #{currentClient.fullName}
        .row 
            .col-2
            .col-2 Email:
            .col-8 
                b #{currentClient.email}
        .row 
            .col-2
            .col-2 Phone number:
            .col-8 
                b #{currentClient.phone}
        div(style="height: 20px")
        .row 
            .col-2 
            .col-10 
                a(href="/client/update-infor" class="btn btn-primary") Update