extends ../../layouts/default.pug

block main 
    .container
        div(style="height: 30px")
        form(action="/client/register" method="POST")
            h2(style="text-align: center") Register
            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='fullname') Full name
                        input#fullname.form-control(type='text' name="fullName" required)
            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='phone') Phone number
                        input#phone.form-control(type='text' name="phone" required)
            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='email') Email address
                        input#email.form-control(type='email' name="email" required)
            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='password') Password
                        input#password.form-control(type='password' name="password" required)
            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='confirm-password') Confirm password
                        input#confirm-password.form-control(type='password' name="confirmPassword" required)
            .row
                .col-3 
                .col-6
                    button.btn.btn-primary(type='submit' style="width: 100%; margin-top: 20px;") Submit
