extends ../../layouts/default.pug

block main 
    .container
        div(style="height: 70px")
        form(action="/client/reset-password?_method=PATCH" method="POST")
            h2(style="text-align: center") Reset password
            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='password') Password
                        input#password.form-control(type='password' name="password")

            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='confirm-password') Confirm password
                        input#confirm-password.form-control(type='password' name="confirmPassword")

            .row
                .col-3 
                .col-6
                    button.btn.btn-primary(type='submit' style="width: 100%; margin-top: 20px;") Submit
