extends ../../layouts/default.pug

block main 
    .container
        div(style="height: 70px")
        form(action="/client/verify-otp" method="POST")
            h2(style="text-align: center") Verify OTP
            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='email') Email address
                        input#email.form-control(type='email' name="email" value=email disabled)

            .row
                .col-3 
                .col-6
                    .form-group
                        label(for='otp') OTP
                        input#otp.form-control(type='text' name="otp")

            .row
                .col-3 
                .col-6
                    button.btn.btn-primary(type='submit' style="width: 100%; margin-top: 20px;") Submit