/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


/* Style for the header */
header.header {
    background-color: #e9ecee;
    /* padding: 20px; */
    height: 100px;
}

/* Style for the row */
.row.align-items-center {
    display: flex;
    /* align-items: center; */
}

/* Style for the logo */
/* .inner-logo {
    text-align: center;
} */

.inner-logo img {
    max-width: 100px;
    height: auto;
}

/* Style for the menu */
.inner-menu .menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* Căn các mục của danh sách về phía bên phải */
    /* align-items: center; */
    margin: 0;
    padding: 0;
}

.inner-menu .menu li {
    margin-left: 20px;
    font-size: 20px;
}

.inner-menu .menu li:last-child {
    margin-right: 0;
}

/* Style for the links */
.inner-menu .menu li a {
    text-decoration: none;
    color: #333;
}

.inner-menu .menu li a:hover {
    color: #6b6262;
}

/* Flex grow for menu */
.col-9 {
    flex-grow: 1;
}

/* Style for the footer */
footer.footer {
    background-color: #e9ecee;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Style for the copyright text */
footer.footer p {
    margin: 0;
    /* Xóa margin mặc định */
    font-size: 14px;
    /* Kích thước chữ */
    color: #888;
    /* Màu chữ */
}

/* Cấp 1 */
.search-input {
    height: 40px;
    width: 400px;
    padding-left: 20px;
}

.btn-search {
    height: 40px;
    margin-bottom: 5px;
}

ul {
    list-style-type: disc;
    /* Hoặc kiểu khác theo ý muốn */
}

/* Cấp 2 */
ul ul {
    list-style-type: circle;
    /* Hoặc kiểu khác theo ý muốn */
}

/* Cấp 3 */
ul ul ul {
    list-style-type: square;
    /* Hoặc kiểu khác theo ý muốn */
}

/* Cấp 4 (nếu có) */
ul ul ul ul {
    list-style-type: disc;
    /* Hoặc kiểu khác theo ý muốn */
}

/* Style for the category when hover  */

.outer-product {
    position: absolute;
    right: -120px;
}

.child {
    display: none !important;
}

/* Style for the box-head */
.box-head .inner-title {
    font-size: 25px;
    margin: 20px;
}

/* CSS cho luôn cao full màn */
.content-box {
    min-height: calc(100vh - 100px - 64px);
}

/* CSS tùy chỉnh cho phần sản phẩm */
.product-item {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

.product-item .featured {
    position: absolute;
    right: 10px;
}

.product-item .inner-image {
    margin-top: 15px;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
}

.inner-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Canh giữa hình ảnh và thêm khoảng cách dưới */
}

.inner-content {
    text-align: center;
}

.inner-title {
    font-size: 18px;
    color: #333;
}

.inner-price-new {
    font-size: 16px;
    color: #00c;
    /* Màu xanh dương cho giá mới */
}

.inner-price-old {
    font-size: 14px;
    color: #999;
    /* Màu xám cho giá cũ */
    text-decoration: line-through;
    /* Gạch ngang cho giá cũ */
}

.inner-discount {
    font-size: 14px;
    color: #f00;
    /* Màu đỏ cho phần trăm giảm giá */
}


/* pagination style */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination ul {
    display: flex;
    list-style-type: none;
    position: relative;
}

.pagination li {
    display: flex;
    align-items: center;
}

.pagination .pagination-button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.pagination .active {
    font-size: 17px;
    font-weight: 500;
    margin: 1px;
}

.pagination .etc {
    margin-right: 10px;
    margin-left: 10px;
}

.pagination .arrow1,
.pagination .arrow2 {
    position: absolute;
    top: -12px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-family: 'Roboto Light', sans-serif;
    /* Sử dụng Roboto Light thay vì Roboto */
}

.pagination .arrow1 {
    left: -50px;
}

.pagination .arrow2 {
    right: -60px;
}

.pagination .arrow-inactive {
    text-align: center;
    vertical-align: middle;
    top: -6px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-family: 'Roboto Light', sans-serif;
    opacity: 0.5;
}

.notfAlert {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    align-items: center;
    margin-bottom: 0px;
    position: absolute;
    right: 10px;
    top: 110px;
}

.close-alert-btn {
    border: none;
    font-size: 25px;
    background-color: transparent;
}