mixin sortCategory(sortString)
    select.sort-product
        option(value="position-desc" selected=sortString === "position-desc") Position desc
        option(value="position-asc" selected=sortString === "position-asc") Position asc
        option(value="title-desc" selected=sortString === "title-desc") Title Z - A
        option(value="title-asc" selected=sortString === "title-asc") Title A - Z

    button(clear class="clear-button") Clear 