extends ../../layouts/default.pug

block addCss 
    link(rel="stylesheet", href="/admin/css/productDetail.css")

block main
    if currentUser.role.permission.includes("view-role")
        h2.margin Role
        div.margin.product-attribute
            span Role:
            div= role.title
        if role.description
            div.margin.product-attribute
                span Description:
                div= role.description

        if currentUser.role.permission.includes("update-role")
            div.margin.product-attribute
                a(href=`${prefixAdmin}/roles/update-role/${role.id}`, class="margin update-button") Update
    else 
            h1 No permission