extends ../../layouts/default.pug

block addCss
    link(rel="stylesheet", href="/admin/css/createProduct.css")

block main
    if currentUser.role.permission.includes("update-general-setting")

        h2 General setting

        form(action=`${prefixAdmin}/setting/general-setting?_method=PATCH`, enctype="multipart/form-data", method="POST")
            div.form-group
                label(for="websiteName") Website name:
                input#websiteName.form-control(type="text", name="websiteName" value=(setting.websiteName ? setting.websiteName : ''))

            div.form-group
                label(for="logo") Logo:
                input#logo.form-control.imp-inp(type="file", accept="image/*", name="logo" style="border: none")
                img(id="blah" src= (setting.logo ? setting.logo : ''), alt="website logo")

            div.form-group
                label(for="phone") Phone number:
                input#phone.form-control(type="text", name="phone" value=(setting.phone ? setting.phone : ''))

            div.form-group
                label(for="email") Email:
                input#email.form-control(type="text", name="email" value=(setting.email ? setting.email : ''))

            div.form-group
                label(for="copyright") Copyright:
                input#copyright.form-control(type="text", name="copyright" value=(setting.copyright ? setting.copyright : ''))

            div.form-group
                button.btn.btn-primary(type="submit") Submit
    else 
        h1 No permission