header.header 
    .container-fluid 
        .row.align-items-center 
            .col-2
                .inner-logo 
                    a(href="/admin/dashboard") ADMIN 

            .col-9

            .col-1
                form(class="logout-form" action=`${prefixAdmin}/auth/logout` method="POST")
                    button(type="submit" class="logout-button") Logout